* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Malgun Gothic';
}

button {
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: inherit;
}

input {
	width: 100%;
	height: 36px;
	font-size: 12px;
	padding: 9px 0 7px 8px;
	border: none;
	background: #fafafa;
}

input:active,
input:focus {
	border: none;
	outline: none;
}

img {
	display: block;
	width: 100%;
}

ul {
	list-style: none;
}

.login-page {
	height: auto;
	background: #fafafa;
	display: flex;
	flex-direction: column;
}

.login-main {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	margin-top: 32px;
}

.left-side {
	width: 400px;
	height: 100vh;
	display: flex;
	justify-content: right;
}

.banner-image-outter {
	width: 410px;
	position: relative;
	left: -5px;
}

.banner-image-inner {
	max-width: 211px;
	position: absolute;
	top: 87px;
	left: 133px;
}

.banner-image-inner img {
	display: flex;
	width: 100%;
}

.right-side {
	max-width: 350px;
	margin: 28px 0 0 -18px;
	padding-bottom: 32px;
}

.login-form-container {
	width: 320px;
	background: #fff;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	margin-bottom: 10px;
	padding: 32px 36px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1.logo {
	text-align: center;
	margin-bottom: 12px;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;
}

.login-form .input {
	width: 100%;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	margin-bottom: 6px;
	font-size: 10px;
}

.login-form .submit-btn {
	height: 30px;
	margin: 8px 0;
	background: #b2dffc;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.separate-line {
	margin: 10px 0 18px;
	display: flex;
	align-items: center;
}

.separate-line .line {
	width: 103px;
	height: 1px;
	background: #dbdbdb;
}

.separate-line span {
	color: #8e8e8e;
	margin: 0 18px;
	font-size: 12px;
}

.social-login {
	margin: 8px 0;
}

.social-login .facebook {
	background: url("img/instagram_sprite_image.png") no-repeat;
	width: 16px;
	height: 16px;
	background-position: -414px -259px;
	margin-right: 8px;
}

.social-login span {
	color: #385185;
	font-size: 13px;
	font-weight: 600;
}

.forgot-password {
	color: #00376b;
	font-size: 11px;
	line-height: 16px;
	margin-top: 12px;
	text-align: center;
}

.no-account {
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 63px;
	padding: 10px 0;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
}

.no-account p {
	font-size: 13px;
}

.no-account a {
	font-size: 13px;
	color: #0095f6;
	font-weight: 600;
}

.download {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.download p {
	font-size: 13px;
	margin: 10px 0 20px;

}

.download-btns {
	width: 100%;
	display: flex;
	justify-content: center;
}

.download-btn-image {
	width: 120px;
	height: 36px;
}

.app-store-btn {
	margin-right: 10px;
}

.download-btn-image img {
	display: block;
	width: 100%;
	height: 100%;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 105px;
	margin-bottom: 52px;
}

.footer-top {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.footer-top-list {
	display: flex;
	justify-content: center;
	height: 23px;
}

.footer-top-list li {
	margin-right: 1rem;
	font-size: 12px;
	color: #8e8e8e;
}

.footer-bottom {
	display: flex;
	justify-content: center;
		margin-right: 20px;
		font-size: 12px;
		color: #8e8e8e;
}

.select-language {
	display: flex;
	margin-right: 20px;
}

.arrow-down {
	margin-left: 4px;
	transform: rotate(180deg);
}


