body {
	margin: 0;
	display: flex;
	justify-content: center;
	margin-top: 250px;
	background: #fafafa;
}

.move-to-login {
	border: none;
	cursor: pointer;
	font-size: 16px;
	background: #6b3dc9;
	color: #fff;
	width: 240px;
	height: 70px;
	box-shadow: inset 000px 0px 0px 0px #ffa03f;
	-webkit-transition: all 0.8s cubic-bezier(0.9, 0.24, 0.4, 1);
	transition: all 0.8s cubic-bezier(0.9, 0.24, 0.4, 1);
}

.move-to-login:first-child::before {
	content: '';
	position: absolute;
	left: 0%;
	opacity: 0;
	top: 0;
	z-index: -1;
	-webkit-transition: height 0.6s cubic-bezier(0.9, 1, 0.32, 1), opacity 0.3s ease;
	transition: height 0.6s cubic-bezier(0.9, 1, 0.32, 1), opacity 0.3s ease;
}

.move-to-login:first-child:hover::before {
	opacity: 1;
	height: 100%;
}

.move-to-login:first-child:hover {
	box-shadow: inset 00px 100px 0px 0px #fd3787;
}

.move-to-login:first-child {
	margin-bottom: 16px;
}